@import url("https://fonts.googleapis.com/css2?family=Lato:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111111;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

a{
  text-decoration: none;
}